[submodule "aur/llrt-git"]
	path = aur/llrt-git
	url = https://github.com/jasongodev/aur-llrt-git.git
[submodule "aur/llrt"]
	path = aur/llrt
	url = https://github.com/jasongodev/aur-llrt.git
[submodule "aur/llrt-bin"]
	path = aur/llrt-bin
	url = https://github.com/jasongodev/aur-llrt-bin.git
